@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.sidebar{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(189, 178, 178);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar .manager-initials{
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(105, 105, 204);
  border-width: 7px;
  background-color: #fff; 
  height: 10em;
  width: 10em;
  position: absolute;
  /* text-align: center; */
}

.sidebar .manager-initials h1{
  left: 0;
  line-height: 140px;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  font-size: 54px;
}

.employee-list{
  margin-left: 210px;
}

.edit-employee{
  margin-left: 210px;
}

.employee-list a{
  text-decoration: none;
  color: black;
}

.employee-list a:hover{
  color: black;
}

.employee .manager-initials{
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(105, 105, 204);
  border-width: 5px;
  background-color: #fff; 
  height: 5em;
  width: 5em;
}

.employee .manager-initials h1{
  line-height: 70px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
}
