@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.sidebar{
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #001219;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar .manager-initials{
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(105, 105, 204);
  border-width: 7px;
  background-color: #fff; 
  height: 10em;
  width: 10em;
  position: absolute;
  /* text-align: center; */
}

.sidebar .manager-initials h1{
  left: 0;
  line-height: 140px;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  font-size: 54px;
}

.employee-list{
  margin-left: 310px;
}

.edit-employee{
  margin-left: 310px;
}

.employee-list a{
  text-decoration: none;
  color: black;
}

.employee-list a:hover{
  color: black;
}

/* .employee{
  width: 960px;
} */

.employee .manager-initials{
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(105, 105, 204);
  border-width: 5px;
  background-color: #fff; 
  height: 50px;
  width: 50px;
}

.employee .manager-initials h1{
  line-height: 45px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
}

.col-header{
  border-style: solid;
  border-color: rgba(216, 216, 219, 0.897);
  border-width: 1px;
  padding: 5px;
}

.add-task{
  padding: 20px;
}

.task-btn button{
  padding: 8px;
  border-radius: 5px;
  background-color: rgba(235, 235, 238, 0.966);
}